<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %} Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <style type="text/css">
        .container{
            border: 1px solid black;
            width: 85%;
            height: 50px;
            background: lightblue;
        }
        </style>
    </head>
    <body>
    <div class="container">
    {% block container %} Contenido por defecto {% endblock %}
         {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </div>
    </body>
</html>
